body {
  background-color: #999999;
  background-image: url(cork-board.png);
  font-family: Helvetica, Arial, sans-serif;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

header {
  display: grid;
  grid-column: span 12;
  background-color: #b86e56;
  color: white;
  text-transform: uppercase;
  padding-left: 48px;
  margin-bottom: 24px;
  font-size: 150%;
}


/* Navigation */
nav {
  display: block;
  grid-column: span 12;
  text-align: center;
  margin-right: 10px;
  margin-left: -24px;
}

nav ul {
  list-style-type: none;
  text-align: center;
  border: 0px solid;
}

nav li {
  display: inline-block;
  border: 0px solid;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 12px;
  width: 370px;
  font-size: 30px;
  font-weight: 700;
}

nav li a {
  color: #f5f5f5;
  background-color: #b86e56;
  border-radius: 15px;
  display: block;
  padding: 15px;
  text-decoration: none;
}

nav li a:link {
display: block;
padding: 15px;
text-decoration: none;
transition: background-color 1.0s, width 2.0s, color .5s
}

nav li a:hover {
  text-shadow: 2px 2px #808080;
  transition: color .5s;
  color: #c5e1e6;
  background-color: #d96943;
}


footer {
  grid-column: span 12;
  font-family: verdana;
  font-weight: normal;
  font-style: italic;
  color: black;
}
